/* Ajoutez ces styles dans votre fichier CSS ou dans une balise <style> dans le document HTML */

/* Conteneur principal */
.container {
  width: 100%;
  max-width: 1200px; /* Ajustez la largeur maximale selon vos besoins */
  margin: 0 auto; /* Centre le contenu */
  box-sizing: border-box;
  padding: 10px;
}

/* Bouton de déconnexion */
#logoutButton {
  margin-top: 10px;
}

/* Styles pour les sections verticales */
.vertical-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Styles pour les sections avec graphiques SVG */
.statistics-section {
  width: 100%;
  margin-bottom: 20px;
}

/* Styles pour les graphiques SVG */
.chart-container {
  width: 100%;
  box-sizing: border-box;
  overflow: hidden; /* Empêcher le débordement des graphiques SVG */
}

.chart {
  width: 100%;
  height: auto;
  max-width: 100%; /* Garantir que le graphique ne dépasse pas la largeur parente */
}

/* Styles pour les sections de profil, niveau et XP */
.inline-bordered-section {
  width: calc(44.333% - 10px);
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
}

/* Styles pour les éléments de profil, niveau et XP */
#userProfile h3,
#levelCount h3,
#xpCount h3 {
  margin-bottom: 5px;
}

#userProfile p,
#levelCount p,
#xpCount p {
  margin: 0;
}

/* Styles pour les éléments responsables de la position du bouton de déconnexion */
.float-right {
  float: right;
}

/* Ajoutez des médias requêtes pour ajuster la disposition */
@media screen and (max-width: 768px) {
  /* Styles spécifiques pour les écrans de taille maximale de 768 pixels */
  .inline-bordered-section {
    width: calc(100% - 10px); /* Ajustez la largeur pour une seule colonne à une petite taille d'écran */
  }

  .vertical-section {
    flex-direction: column; /* Empilez les sections verticales sur les petits écrans */
  }

  /* Ajoutez d'autres styles responsifs au besoin */
}
